:root {
    --white: #ffffff;
    --black: #202020;
    --dark-blue: #050a52;
    --blue: #3056ef;
    --grey: #cdcdcd;
    --red: #ce2029;
    --pink: #ea597b;
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-Regular.ttf') format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-Bold.ttf') format("opentype");
    font-style: normal;
    font-weight: 700;
}

html, body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: var(--negro);
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


h1 { font-size: 45px }
h2 { font-size: 45px }
h3 { font-size: 30px }
.fs-20 { font-size: 20px }
.fs-15 { font-size: 15px }
.text-blue { color: var(--blue) }
.text-dark-blue { color: var(--dark-blue) }
.d-pad { padding: 90px 10% }
.d-pad-s { padding: 0 10% }
.d-pad-m { padding: 60px 10% }
.f-none { flex: none }

.quote {
    background-color: var(--pink);
    height: 32px;
    width: 9px;
    margin-top: 2px;
    &.bg-pink { background-color: var(--pink) }
    &.bg-red { background-color: var(--red) }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--grey);
}

.btn-cta {
    padding: 13px 30px;
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    &:hover {
      color: var(--white);
      background-color: var(--dark-blue);
    }
    &.bg-red {
        background-color: var(--red);
        color: var(--white);
    }
}

form {
    padding: 40px;
    border: 2px solid var(--white);
    .form-control { 
        border: none;
        padding: 13px 10px;
    }
}

@import "partials/header";
@import "partials/footer";


.mobile-item { display: none }
@media (max-width: 500px) and (min-width: 0px) {
  .desktop-item { display: none }
  .mobile-item { display: block }
  h1 { font-size: 30px }
  h2 { font-size: 28px }
  h3 { font-size: 25px }
  .d-pad { padding: 90px 9% }
  .d-pad-s { padding: 0 9% }
  form {
    padding: 30px 15px;
  }
}